


<mat-toolbar style="position: fixed; top: 0;">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
 <button mat-menu-item  (click)="goToProfile()">Profile</button>
  <button mat-menu-item (click)="doLogOut()">Log out</button>
</mat-menu>
  <span>My personal Bank</span>
  <span class="example-spacer"></span>
  <div *ngFor="let item of list">
    <button class="ms-3" mat-button [routerLink]="item.url">
      {{item.title}}
    </button>
  </div>

</mat-toolbar>


