
<div class="row">
  <div class="col-auto">
        <button style="height: 55px;" mat-flat-button (click)="openParentModal()" color="primary">New transaction</button>
  </div>
  <div class="col-6">
    <form [formGroup]="query">
      <div class="row">
        <div class="col-auto">
          <mat-form-field class="example-full-width">
            <mat-label>Quantity</mat-label>
            <input min="0" type="number" matInput formControlName="number">
          </mat-form-field>
        </div>
        <div class="col-auto" *ngIf="currentUser">
          <mat-form-field>
            <mat-label>Iban</mat-label>
            <mat-select  formControlName="bankAccount">
              <mat-option *ngFor="let item of currentUser.bankAccounts" [value]="item.id">{{item.iban}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-auto" *ngIf="types && fromMov2 === true">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select value="3" formControlName="type">
              <mat-option *ngFor="let item of types" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
