<div class="card">
    <div class="row">
        <form [formGroup]="loginForm" (ngSubmit)="emitLogin()">
            <div class="col-12">
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" formControlName="email">
                        <div *ngIf="emailError">
                              <small class="text-danger">{{emailError}}</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                         <div *ngIf="emailError">
                              <small class="text-danger">{{passwordError}}</small>
                        </div>
                        <p style="font-size: 12px;">After 30 seconds the page will reset</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn button-started">Get started</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
