  <div class="row">
        <div class="col-12">
                     <div class="mo-tabs">
                      <div class="row ms-auto align-items-center mr-5" >
                        <div class="col">
                            <div class="mo-tabs-header">
                              <ul class="mo-tabs-items">
                              <!--  <li   class="mo-tabs-item" title="Filter by number" [class.active]="tab === 'number'" (click)="setTab('number')">
                                  {{"Number"}}
                                </li>
                                <li  class="mo-tabs-item" title="Filter by type" [class.active]="tab === 'type'" (click)="setTab('type')">
                                  {{"Type"}}
                                </li>
                                <li  class="mo-tabs-item" title="Filter by period" [class.active]="tab === 'period'" (click)="setTab('period')">
                                  {{"Dates"}}
                                </li>
-->

                              </ul>
                            </div>
                          </div>
                      </div>

                            <div class="mo-tabs-content">
                              <app-ricerca-movimenti3  *ngIf="tab === 'period'"></app-ricerca-movimenti3>
                            </div>
                      </div>

        </div>
  </div>
