

  <div class="row m-0 p-0 mt-4 pt-3 navbars" *ngIf="currentUser$ | async">
    <div class="col d-flex justify-content-start align-items-center ">
       <span class="welcome ms-5">Welcome, {{(currentUser$ | async)!.user.firstName }}</span>
    </div>
    <div class="col-auto d-flex justify-content-center align-items-center">

      <div class="row p-0 m-0 position-relative w-100">
          <div class="col-12 d-flex justify-content-evenly">
            <button mat-menu-item class="button-nav me-2"  (click)="goToProfile()">Profile</button>
            <button mat-menu-item class="button-nav me-4"  (click)="doLogOut()">Log out</button>
          </div>
      </div>

    </div>
  </div>

