


  <form [formGroup]="query">
      <div class="mb-2  ms-1">
                <button  style="border-top-left-radius: 13px;" mat-flat-button (click)="openParentModal()" color="accent">New transaction</button>


          <div ngbDropdown class="d-inline-block ms-1">
            <button class="ms-2" type="button" id="dropdownBasic1" ngbDropdownToggle>
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
            </button>
            <div ngbDropdownMenu class="row">

              <div class="col-12">
                <mat-form-field>
                  <mat-label>Quantity</mat-label>
                  <input min="0" type="number" matInput formControlName="number">
                </mat-form-field>
              </div>

              <div class="col-12">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select value="3" formControlName="type">
                      <mat-option *ngFor="let item of types" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
              </mat-form-field>
              </div>
              <div class="col-12">
                  <mat-form-field>
                    <input formControlName="startDate" matInput [matDatepicker]="picker1">
                        <mat-label>Start date</mat-label>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

              </div>
              <div class="col-12">
                  <mat-form-field>
                    <input formControlName="endDate" matInput [matDatepicker]="picker2" >
                    <mat-label>End date</mat-label>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
              </div>


              <p (click)="query.reset()" class="ms-2 mb-0 pb-0" *ngIf="query.dirty">Reset filters</p>

              </div>
          </div>
      </div>


  </form>



<form [formGroup]="newTransactionForm" *ngIf="currentUser">
  <ibm-modal id="parent-modal" [open]="isParentOpen">
    <ibm-modal-header (closeSelect)="closeParentModal()">
      <h3 ibmModalHeaderHeading>New transaction</h3>
    </ibm-modal-header>
    <section ibmModalContent>

      <!-- TYPES -->
      <div class="row mb-3">
        <div class="col-12 mb-2">
          <label for="">What type of transaction do you want to do?</label>
        </div>
        <div class="col-12">
          <cds-select formControlName="transactionType">
            <option *ngFor="let item of types" [value]="item.id">{{item.name}}</option>
          </cds-select>
        </div>
      </div>



      <!-- AMOUNT -->

      <div class="row" *ngIf="newTransactionForm.value.transactionType !== '650c1449a7e99de7b7813009' && newTransactionForm.value.transactionType !== '650c1425a7e99de7b7813003'">

        <div class="col-12 mt-3">
          <label for="">Value for the transaction:</label>
        </div>
        <div class="col-12">
          <div ibmGrid class="demo-list">
            <div ibmRow class="one-demo">
              <div ibmCol>
                <ibm-label>
                  <input ibmText id="originator-email-input" type="number" placeholder="Please input a value"
                    formControlName="amount">
                </ibm-label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- DESCRIPTION -->

      <div class="row mt-3" *ngIf="newTransactionForm.value.transactionType !== '650c1449a7e99de7b7813009' ">

        <div class="col-12  mb-2">
          Decription:
        </div>

        <div class="col-12">
          <div ibmGrid class="demo-list">
            <div ibmRow class="one-demo">
              <div ibmCol>
                <textarea ibmTextArea formControlName="description" style="width: 100%;"
                  placeholder="Please leave your Comments" aria-label="textarea"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>



      <!-- FOR TELEPHONE RECHARGE -->


      <!-- Choose your provider -->
      <div class="row mb-3" *ngIf="newTransactionForm.value.transactionType == '650c1449a7e99de7b7813009'">
        <div class="col-12 mb-2">
          <label for="">Choose your provider</label>
        </div>
        <div class="col-12">
          <cds-select formControlName="provider">
            <option selected value="">Select your provider</option>
            <option *ngFor="let item of providers" [value]="item">{{item}}</option>
          </cds-select>
        </div>
      </div>

      <!-- Input number -->
      <div class="row mb-3" *ngIf="newTransactionForm.value.transactionType == '650c1449a7e99de7b7813009'">
        <div class="col-12 mb-2">
          <label for="">Your telephone number:</label>
        </div>
        <div class="col-12">
            <ibm-label>
                  <input ibmText id="originator-email-input" type="text" placeholder="Please input your number"
                    formControlName="telephoneNumber">
                </ibm-label>
        </div>
      </div>

       <!-- Choose rechargeAmount -->
      <div class="row mb-3" *ngIf="newTransactionForm.value.transactionType == '650c1449a7e99de7b7813009'">
        <div class="col-12 mb-2">
          <label for="">rechargeAmount</label>
        </div>
        <div class="col-12">
          <cds-select formControlName="rechargeAmount">
            <option selected value="">Select the amount</option>
            <option *ngFor="let item of [5, 10, 15, 20, 25, 50]" [value]="item">{{item}}</option>
          </cds-select>
        </div>
      </div>


      <!-- FOR TRANSFER -->


        <!-- Input IBAN -->
      <div class="row mb-3" *ngIf="newTransactionForm.value.transactionType == '650c1425a7e99de7b7813003'">
        <div class="col-12 mb-2">
          <label for="">Iban of receiver:</label>
        </div>
        <div class="col-12">
            <ibm-label>
                  <input ibmText id="originator-email-input" type="text" placeholder="Please input the IBAN"
                    formControlName="bankAccountTo">
                </ibm-label>
        </div>
      </div>

        <!-- amountExit -->
      <div class="row mb-3" *ngIf="newTransactionForm.value.transactionType == '650c1425a7e99de7b7813003'">
        <div class="col-12 mb-2">
          <label for="">Iban of receiver:</label>
        </div>
        <div class="col-12">
            <ibm-label>
                  <input ibmText id="originator-email-input" type="number" placeholder="Please input the amount"
                    formControlName="amountExit">
                </ibm-label>
        </div>
      </div>


    </section>
    <ibm-modal-footer>
      <button ibmButton="secondary" (click)="closeParentModal()">Cancel</button>
      <button ibmButton="primary" (click)="doTransaction()" modal-primary-focus>Add</button>
    </ibm-modal-footer>
  </ibm-modal>

</form>




