
<form [formGroup]="newTransactionForm" *ngIf="currentUser">
  <ibm-modal id="parent-modal" [open]="isParentOpen">
    <ibm-modal-header (closeSelect)="closeParentModal()">
      <h3 ibmModalHeaderHeading>New transaction</h3>
    </ibm-modal-header>
    <section ibmModalContent>

      <!--TYPES-->
      <div class="row mb-3">
        <div class="col-12 mb-2">
          <label for="">What type of transaction do you want to do?</label>
        </div>
        <div class="col-12">
          <cds-select formControlName="transactionType">
            <option *ngFor="let item of types" [value]="item.id">{{item.name}}</option>
          </cds-select>
        </div>
      </div>



      <!-- AMOUNT -->

      <div class="row">

        <div class="col-12 mt-3">
          <label for="">Value for the transaction:</label>
        </div>
        <div class="col-12">
          <div ibmGrid class="demo-list">
            <div ibmRow class="one-demo">
              <div ibmCol>
                <ibm-label>
                  <input ibmText id="originator-email-input" type="number" placeholder="Please input a value"
                    formControlName="amount">
                </ibm-label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- DESCRIPTION -->

      <div class="row mt-3">

        <div class="col-12  mb-2">
          Decription:
        </div>

        <div class="col-12">
          <div ibmGrid class="demo-list">
            <div ibmRow class="one-demo">
              <div ibmCol>
                <textarea ibmTextArea formControlName="description" style="width: 100%;"
                  placeholder="Please leave your Comments" aria-label="textarea"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>
    <ibm-modal-footer>
      <button ibmButton="secondary" (click)="closeParentModal()">Cancel</button>
      <button ibmButton="primary" (click)="doTransaction()" modal-primary-focus>Add</button>
    </ibm-modal-footer>
  </ibm-modal>

</form>


<div class="row mb-0" style="min-width: 800px;">
  <div class="col-auto" style="position: fixed; z-index: 1000000; top: 9px; right: 20px">
        <button style="height: 45px;" mat-flat-button (click)="openParentModal()" color="accent">New transaction</button>
  </div>

  <div class="ms-4">
    <small>Filter by:</small>
  </div>
  <div class="col-6 ms-3">
    <form [formGroup]="query">
      <div class="row">
        <div class="col-auto">
          <mat-form-field class="example-full-width">
            <mat-label>Quantity</mat-label>
            <input min="0" type="number" matInput formControlName="number">
          </mat-form-field>
        </div>

        <div class="col-auto" *ngIf="types && fromMov2 === true">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select value="3" formControlName="type">
              <mat-option *ngFor="let item of types" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-auto" *ngIf="types && fromMov2 === true && fromMov3 === true">

          <app-date-range (emitStart)="setDateStart($event)" (emitEnd)="setDateEnd($event)"></app-date-range>

        </div>
      </div>
    </form>
  </div>
</div>
