.download {
  position: fixed;
  bottom: -9px;
  right: -9px;
  transform: translate(-50%, -50%);
}



.card {
  background-color: white;
  border: solid hsl(0deg 0% 92%) 1px;
  border-radius: 15px;
  margin: 35px;
}
