


        <div class="row m-2">

          <div class="col-md-12">
            <app-line-chart  [labels]="labels" [data]="data"></app-line-chart>
          </div>

        </div>


        <div class="card overflow-hidden m-3 p-2">

            <app-do-transaction-form
            [types]="(types$ | async)!"
            [currentUser]="(currentUser$ | async)!"
            [bankAccounts]="(bankAccounts$ | async)!"
            (emitTransaction)="addTransaction($event)"
            (filtersChange)="doQuery($event)"
            [fromMov2]="true"
            [fromMov3]="true"
            (emitRecharge)="doRecharge($event)"
            (emitTransfer)="doTransfer($event)"
            ></app-do-transaction-form>

          <app-paginator-ricerca-movimenti [transactionList]=" transactionList" [displayedColumns]="['createdAt','amount','transactionType', 'description', 'actions']"></app-paginator-ricerca-movimenti>


        </div>


  <div (click)="exportExcel()" class="download">
        <button class="butt" mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
          <mat-icon>play_for_work</mat-icon>
        </button>
  </div>



<!--


<div *ngIf="showLoading" class="d-flex flex-column align-items-center justify-content-center" style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 100001000">
  <mat-spinner class="mb-5 pb-4"></mat-spinner>
  <h4>Loading, please wait...</h4>

</div>


<div *ngIf="showLoading" class="d-flex flex-column align-items-center justify-content-center opacity-75" style="position: fixed; top: 0; left: 0; background-color: white; height: 100%; width: 100%; z-index: 10000000">

</div>
-->


