<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <fa-icon (click)="deleteMode = !deleteMode" class="ms-4"  style="cursor: pointer;" [icon]="faPenToSquare"></fa-icon>

<div class="container-fluid m-0 p-0 d-flex ">

  <div *ngFor="let account of bankAccounts" class="card overflow-hidden m-4">
    <div style="width: 100%; height: 40px; position: relative; background-color: rgb(43, 1, 83);">&nbsp;</div>

    <div class="card-body">

      <h5 class="card-title"><a class="link" style="cursor: pointer;"  (click)="goToDetail(account.id)">{{inserisciSpaziOgni4Caratteri(account.iban)}}</a></h5>
        <span style="padding: 4px; background-color: hsl(150deg 45% 90%); color: hsl(145deg 100% 18%); border-radius: 3px; font-size: 12px;">Ref ID: {{account.id}}</span>
        <br>
        <span style="padding: 4px; background-color: hsl(150deg 45% 90%); color: hsl(145deg 100% 18%); border-radius: 3px; font-size: 12px;">Created at: {{account.createdAt | date}}</span>

      <div *ngIf="deleteMode" class="row mt-4 d-flex align-items-center justify-content-end" style="transform: scale(0.8);">
          <button style="width: 180px;" class="btn btn-danger" (click)="delete(account.id)">Delete Account</button>
      </div>


    </div>
  </div>

</div>
