
<table class="mt-4">
  <thead>
    <tr>
      <th>Iban</th>
      <th>Created at</th>
      <th class="col-2">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="bankAccounts">
    <tr *ngFor="let accounts of bankAccounts">

      <td>
        {{accounts.iban}}
      </td>
      <td>
        {{accounts.createdAt | date}}
      </td>
      <td class="row">
        <div class="col-12">
            <button class="bg-body-secondary ms-0" (click)="goToDetail(accounts.id)" style="transform: scale(1.2);">
              <fa-icon [icon]="faUpRightFromSquare" ></fa-icon>
            </button>
        </div>
      </td>
    </tr>
    <tr bgcolor="#1060fe" style="border:solid hsl(195deg 8% 92%) 1px; height: 30px;" >
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
