.mat-mdc-header-cell {
  padding-top: 20px;
}

.mat-mdc-cell {
  padding-top: 10px;
}

//Box
.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


//Paginator
.mat-mdc-paginator {
  background-color: hsl(275, 90%, 96%);
  font-size: 13px;
  color: rgb(0, 0, 0);
}

//selector paginator
.mat-mdc-text-field-wrapper {
  background-color: white;
}
