<div class="card col-12">

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" id="excel-table"> >

    <ng-container matColumnDef="bankAccount">
      <th *matHeaderCellDef> Account ID </th>
      <td mat-cell *matCellDef="let element"> {{element.bankAccount}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created at </th>
      <td mat-cell *matCellDef="let element"> <span class="badge bg-body-secondary text-dark">{{element.createdAt | date: 'd/MM/yyyy'}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="balance" *ngIf="fromMov2 === true">
      <th mat-header-cell *matHeaderCellDef> Balance </th>
      <td mat-cell *matCellDef="let element"> {{element.balance | currency:'EUR':true }} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amonut </th>
      <td mat-cell *matCellDef="let element"><span class="badge bg-danger-subtle text-dark">{{element.amount | currency:'EUR':true }}</span></td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element" class="pill"> <span class="badge" [ngClass]="{'bg-danger' : element.transactionType.name == 'Bonifico Uscita', 'bg-success' : element.transactionType.name == 'Bonifico Entrata','bg-primary' : element.transactionType.name !== 'Bonifico Entrata' || element.transactionType.name == 'Bonifico Entrata' }">{{element.transactionType.name}} </span></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Desc. </th>
      <td mat-cell *matCellDef="let element" style="font-size: 13px;"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


</div>






