.card {
  border: solid hsl(0deg 0% 92%) 1px;
  border-radius: 15px;
}

button {
  background-color: transparent;
  border: 0;
  position: relative;
  width: 30px;
}


.active {
  border-bottom: solid black 2px;
  position: relative;
  width: 40px;
  transition: width 0.4s;
}


.disabled {
  color: gray
}
